body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
}

.Header{
    position: fixed;
    width: 100vw;
    left:0;
    top:0;
    padding: 0 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.controlBox{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13);
    padding: 1.5rem;
}

.controlBox button{
    border-radius: 10px;
    background-color: #18181B;
    padding: 16px 8px;
    color:#E4E4E7;
    font-weight: 700;
    border: 0;
}

.controlBox button:hover{
    background-color: #353536;
}

.controlBox .inputSection{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.controlBox .buttonSection{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.controlBox .valueBox{
    border: 0;
    padding-left: 10px;
    background-color: #E4E4E7;
    border-radius: 10px;
    font-weight: 700;
}